<div class="idea-block">
  <div class="idea-header">
    {% if idea.prompts %}
    <img class="idea-ref" src="{{ idea.prompts[0].image_url }}" alt="referencia">
    {% endif %}
    <div>
      <span class="idea-label">Idea</span>
      <div class="idea-texto">{{ idea.idea }}</div>
    </div>
  </div>
  <div class="prompts-lista">
    {% for p in idea.prompts %}
      {% if p.trabajo %}
      {% include "_progreso_row.html" %}
      {% elif p.estado == "imagen_pendiente" %}
      {% include "_imagen_row.html" %}
      {% else %}
      {% include "_prompt_row.html" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
